List((texture_width:144,texture_height:128,sprites:[(x:0,y:0,width:128,height:32,offsets:None,),(x:48,y:104,width:16,height:16,offsets:None,),(x:0,y:104,width:48,height:24,offsets:None,),(x:96,y:56,width:48,height:24,offsets:None,),(x:96,y:32,width:48,height:24,offsets:None,),(x:48,y:80,width:48,height:24,offsets:None,),(x:0,y:80,width:48,height:24,offsets:None,),(x:48,y:56,width:48,height:24,offsets:None,),(x:0,y:56,width:48,height:24,offsets:None,),(x:48,y:32,width:48,height:24,offsets:None,),(x:0,y:32,width:48,height:24,offsets:None,),],))